<div class="map" id="map">
  <div class="dropdown">
    <select (change)="load($event.target)">
      <option value="'TRAIL'">Liechtenstein</option>
      <option value="'STGALLEN'">St. Gallen</option>
      <option value="'GRISONS'">Graubünden</option>
      <option value="'SWITZERLAND'">Schweiz</option>
      <option value="'NETWORK'">Alle Strassen und Wege (Liechtenstein)</option>
      <option value="'TRAIL_HEATMAP'">Heatmap</option>
    </select>
  </div>
  <div *ngIf="coverage && showCoverage" class="overlay">
    <button class="close-button" (click)="closeOverlay()">×</button>
    <p>Länge total: {{coverage.totalTrailLength / 1000.0 | number: '1.2-2' }} km</p>
    <p>Anzahl Wege: {{coverage.numberOfTrailsChecked}}</p>
    <p>Geschafft: {{coverage.coverage | number: '1.2-2' }} %</p>
    <p>Distanz: {{coverage.totalDistance / 1000.0 | number: '1.0-0' }} km</p>
    <p>Höhenmeter: {{coverage.totalElevationGain | number: '1.0-0' }} m</p>
    <p>Tracks überprüft: {{coverage.numberOfTracksChecked}}</p>
    <p>Zuletzt berechnet: {{coverage.lastCalculated | date:'HH:mm \'am\' dd.MM.yyyy'}}</p>
  </div>
</div>
